salis.xsd

<!-- 9 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/salis"
    elementFormDefault="qualified"
    xmlns:salis="http://example.com/salis"
    xmlns:viet="http://example.com/vietove"
    xmlns:val="http://example.com/valiuta">

    <xs:import namespace="http://example.com/vietove" schemaLocation="vietove.xsd"/>
    <xs:import namespace="http://example.com/valiuta" schemaLocation="valiuta.xsd"/>


    <!-- 6 -->
    <xs:complexType name="IstorijosType" mixed="true">
        <xs:sequence>
            <xs:element name="ivykis" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 1, 5 -->
    <xs:simpleType name="SaliesKodoType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- 4 -->
    <xs:complexType name="GeografijaType">
        <xs:sequence>
            <xs:element ref="viet:vietove"/>
            <xs:element name="laiko_zonos" type="salis:LaikoZonosType"/>
            <xs:element name="plotas" type="salis:PlotasType"/>
            <xs:element name="kaimynai" type="salis:KaimynaiType"/>
            <xs:element name="klimatas" type="salis:KlimatasType"/>
            <xs:element name="miestai" type="salis:MiestaiType"/>
            <xs:element name="sostine" type="salis:SostineType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LaikoZonosType">
        <xs:sequence>
            <xs:element name="laiko_zona" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PlotasType">
        <xs:sequence>
            <xs:element name="viso" type="xs:integer"/>
            <xs:element name="sausuma" type="xs:integer"/>
            <xs:element name="vanduo" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KaimynaiType">
        <xs:sequence>
            <xs:element name="kaimynas" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KlimatasType">
        <xs:sequence>
            <xs:element name="temperatura" type="salis:TemperaturaType"/>
            <xs:element name="krituliai" type="salis:KrituliaiType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TemperaturaType">
        <xs:sequence>
            <xs:element name="ziemos_vid" type="salis:SezonasType"/>
            <xs:element name="pavasario_vid" type="salis:SezonasType"/>
            <xs:element name="vasaros_vid" type="salis:SezonasType"/>
            <xs:element name="rudens_vid" type="salis:SezonasType"/>
            <xs:element name="menesiu_vid" type="salis:MenesioTermperaturaListType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 2 -->
    <xs:simpleType name="MenesioTermperaturaListType">
        <xs:restriction>
            <xs:simpleType>
                <xs:list itemType="xs:decimal"/>
            </xs:simpleType>
            <xs:length value="12"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SezonasType">
        <xs:attribute name="min" type="xs:integer"/>
        <xs:attribute name="max" type="xs:integer"/>
        <xs:attribute name="unit" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="KrituliaiType">
        <xs:sequence>
            <xs:element name="metiniai" type="salis:MetiniaiKrituliaiType"/>
            <xs:element name="slapiausias_sezonas" type="xs:string"/>
            <xs:element name="sausiausias_sezonas" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MetiniaiKrituliaiType">
        <xs:attribute name="min" type="xs:integer"/>
        <xs:attribute name="max" type="xs:integer"/>
        <xs:attribute name="unit" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="EkonomikaType">
        <xs:sequence>
            <xs:element name="bvp" type="salis:BvpType"/>
            <xs:element name="sektoriai" type="salis:SektoriaiType"/>
            <xs:element ref="val:valiuta"/>
            <xs:element name="nedarbingumas" type="salis:ProcentasType"/>
            <xs:element name="metine_inflacija" type="salis:ProcentasType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BvpType">
        <xs:sequence>
            <xs:element name="viso" type="salis:UnitDecimalType"/>
            <xs:element name="zmogui" type="salis:UnitDecimalType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 3 -->
    <xs:complexType name="UnitDecimalType">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="unit" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="SektoriaiType">
        <xs:sequence>
            <xs:element name="agrikultura" type="salis:ProcentasType"/>
            <xs:element name="pramone" type="salis:ProcentasType"/>
            <xs:element name="paslaugos" type="salis:ProcentasType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 1 -->
    <xs:complexType name="ProcentasType">
        <xs:sequence>
            <xs:element name="procentas" maxOccurs="1" type="salis:ProcentasDecimalType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DemografijaType">
        <xs:sequence>
            <xs:element name="populiacija" type="salis:PopuliacijaType"/>
            <xs:element name="amziaus_grupes" type="salis:AmziausGrupesType"/>
            <xs:element name="rastingumas" type="salis:ProcentasType"/>
            <xs:element name="vidutine_gyvenimo_trukme" type="salis:VidutineGyvenimoTrukmeType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PopuliacijaType">
        <xs:sequence>
            <xs:element name="viso" type="xs:integer"/>
            <xs:element name="gimstamumas" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AmziausGrupesType">
        <xs:sequence>
            <xs:element name="grupe" maxOccurs="unbounded" type="salis:GrupeType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GrupeType">
        <xs:sequence>
            <xs:element name="procentas" type="xs:decimal"/>
        </xs:sequence>
        <xs:attribute name="amzius" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="VidutineGyvenimoTrukmeType">
        <xs:sequence>
            <xs:element name="viso" type="xs:decimal"/>
            <xs:element name="vyrai" type="xs:decimal"/>
            <xs:element name="moterys" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>


    

    <xs:complexType name="MiestaiType">
        <xs:sequence>
            <xs:element name="miestas" type="salis:MiestasType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MiestasType">
        <xs:sequence>
            <xs:element name="pavadinimas" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SostineType">
        <xs:sequence>
            <xs:element name="pavadinimas" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>






    <!-- 3.1 and 3.2 -->
    <xs:simpleType name="BaseDecimalType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ProcentasDecimalType">
        <xs:restriction base="salis:BaseDecimalType">
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- 4.1 and 4.2 -->
    <xs:complexType name="BaseStringSequenceType">
        <xs:sequence>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RestrictedComplexType">
        <xs:complexContent>
            <xs:restriction base="salis:BaseStringSequenceType">
                <xs:sequence>
                    <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ExtendedComplexType">
        <xs:complexContent>
            <xs:extension base="salis:BaseStringSequenceType">
                <xs:sequence>
                    <xs:element name="additionalValue" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    

    <!-- Global Elements -->
    <xs:element name="salis" type="salis:SalisType">
        <!-- 8 -->
        <xs:key name="cityKey">
            <xs:selector xpath="salis:geografija/salis:miestai/salis:miestas"/>
            <xs:field xpath="salis:pavadinimas"/>
        </xs:key>
        <xs:keyref name="capitalCityRef" refer="salis:cityKey">
            <xs:selector xpath="salis:geografija/salis:sostine"/>
            <xs:field xpath="salis:pavadinimas"/>
        </xs:keyref>
    </xs:element>

    <xs:complexType name="SalisType">
        <xs:sequence>
            <!-- 7 -->
            <xs:choice>
                <xs:element name="iso_alpha2" type="salis:SaliesKodoType"/>
                <xs:element name="iso_alpha3" type="xs:string"/>
            </xs:choice>
            <xs:element name="duomenu_data" type="xs:date"/>
            <xs:element name="pavadinimas" type="xs:string"/>
            <xs:element name="geografija" type="salis:GeografijaType"/>
            <xs:element name="ekonomika" type="salis:EkonomikaType"/>
            <xs:element name="demografija" type="salis:DemografijaType"/>
            <xs:element name="istorija" type="salis:IstorijosType"/>
        </xs:sequence>
        <xs:attribute name="phone_prefix" type="xs:string"/>
        <xs:attribute name="domain" type="xs:string"/>
    </xs:complexType>

</xs:schema>
